.DS_Store

# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xcuserdatad

# Build artifacts
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/

# Node modules
node_modules/
